In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import os

In [20]:
os.listdir()

['.ipynb_checkpoints',
 'Starbuck Menu Analysis.ipynb',
 'starbucks-menu-nutrition-drinks.csv',
 'starbucks-menu-nutrition-food.csv',
 'starbucks_drinkMenu_expanded.csv']

In [180]:
drinks = pd.read_csv('starbucks-menu-nutrition-drinks.csv')
food = pd.read_csv('starbucks-menu-nutrition-food.csv', encoding='ISO-8859-1')
menu = pd.read_csv('starbucks_drinkMenu_expanded.csv')

## Wrangling

### Drinks

In [181]:
drinks.head()

,Unnamed: 0,Calories,Fat (g),Carb. (g),Fiber (g),Protein,Sodium
0,Cool Lime Starbucks Refreshers™ Beverage,45,0,11,0,0,10
1,Ombré Pink Drink,-,-,-,-,-,-
2,Pink Drink,-,-,-,-,-,-
3,Strawberry Acai Starbucks Refreshers™ Beverage,80,0,18,1,0,10
4,Very Berry Hibiscus Starbucks Refreshers™ Beve...,60,0,14,1,0,10

In [182]:
drinks = drinks.rename(columns = {'Unnamed: 0':'Drink', 'Protein':'Protein (g)', 'Sodium':'Sodium (g)'})

In [183]:
drinks = drinks.replace('-', np.nan)

In [184]:
drinks = drinks.dropna()

In [185]:
drinks[['Calories', 'Fat (g)', 'Carb. (g)', 'Fiber (g)', 'Protein (g)', 'Sodium (g)']] = \
drinks[['Calories', 'Fat (g)', 'Carb. (g)', 'Fiber (g)', 'Protein (g)', 'Sodium (g)']].astype(float)

In [186]:
drinks

,Drink,Calories,Fat (g),Carb. (g),Fiber (g),Protein (g),Sodium (g)
0,Cool Lime Starbucks Refreshers™ Beverage,45.0,0.0,11.0,0.0,0.0,10.0
3,Strawberry Acai Starbucks Refreshers™ Beverage,80.0,0.0,18.0,1.0,0.0,10.0
4,Very Berry Hibiscus Starbucks Refreshers™ Beve...,60.0,0.0,14.0,1.0,0.0,10.0
8,Evolution Fresh™ Organic Ginger Limeade,110.0,0.0,28.0,0.0,0.0,5.0
9,Iced Coffee,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
159,Mocha Light Frappuccino® Blended Coffee,140.0,0.5,28.0,1.0,4.0,180.0
168,Cinnamon Dolce Crème,200.0,6.0,28.0,0.0,10.0,135.0
171,Vanilla Crème,200.0,6.0,28.0,0.0,10.0,135.0
172,Chocolate Smoothie,320.0,5.0,53.0,8.0,20.0,170.0
173,Strawberry Smoothie,300.0,2.0,60.0,7.0,16.0,130.0

In [187]:
drinks.describe()

         Calories    Fat (g)  Carb. (g)  Fiber (g)  Protein (g)  Sodium (g)
count   92.000000  92.000000  92.000000  92.000000    92.000000   92.000000
mean   135.163043   2.336957  24.739130   0.445652     4.152174   57.934783
std     93.853554   3.887928  15.214849   1.417040     5.691588   68.384627
min      0.000000   0.000000   0.000000   0.000000     0.000000    0.000000
25%     60.000000   0.000000  14.750000   0.000000     0.000000   10.000000
50%    130.000000   0.000000  25.500000   0.000000     1.000000   15.000000
75%    190.000000   4.125000  35.000000   0.000000     8.250000  115.000000
max    430.000000  26.000000  64.000000   8.000000    20.000000  240.000000

### Food

In [188]:
food.head()

         Unnamed: 0   Calories   Fat (g)   Carb. (g)   Fiber (g)   Protein (g)
0      Chonga Bagel        300       5.0          50           3            12
1      8-Grain Roll        380       6.0          70           7            10
2  Almond Croissant        410      22.0          45           3            10
3     Apple Fritter        460      23.0          56           2             7
4  Banana Nut Bread        420      22.0          52           2             6

In [189]:
food = food.rename(columns = {'Unnamed: 0':'Food'})

In [190]:
food = food.replace('-', np.nan)

In [191]:
food = food.dropna()

In [192]:
food.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113 entries, 0 to 112
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Food          113 non-null    object
 1    Calories     113 non-null    int64
 2    Fat (g)      113 non-null    float64
 3    Carb. (g)    113 non-null    int64
 4    Fiber (g)    113 non-null    int64
 5    Protein (g)  113 non-null    int64
dtypes: float64(1), int64(4), object(1)
memory usage: 6.2+ KB

In [193]:
food.describe()

         Calories     Fat (g)   Carb. (g)   Fiber (g)   Protein (g)
count  113.000000  113.000000  113.000000  113.000000    113.000000
mean   356.637168   16.353982   41.486726    2.849558     11.469027
std    127.710685    8.297397   15.796764    2.888466      8.463230
min     90.000000    0.000000    5.000000    0.000000      1.000000
25%    280.000000    9.000000   31.000000    1.000000      5.000000
50%    360.000000   17.000000   42.000000    2.000000      8.000000
75%    450.000000   23.000000   53.000000    3.000000     19.000000
max    650.000000   37.000000   80.000000   21.000000     34.000000

### Menu

In [194]:
menu.head()

,Beverage_category,Beverage,Beverage_prep,Calories,Total Fat (g),Trans Fat (g),Saturated Fat (g),Sodium (mg),Total Carbohydrates (g),Cholesterol (mg),Dietary Fibre (g),Sugars (g),Protein (g),Vitamin A (% DV),Vitamin C (% DV),Calcium (% DV),Iron (% DV),Caffeine (mg)
0,Coffee,Brewed Coffee,Short,3,0.1,0.0,0.0,0,5,0,0,0,0.3,0.0,0.0,0.00,0.0,175
1,Coffee,Brewed Coffee,Tall,4,0.1,0.0,0.0,0,10,0,0,0,0.5,0.0,0.0,0.00,0.0,260
2,Coffee,Brewed Coffee,Grande,5,0.1,0.0,0.0,0,10,0,0,0,1.0,0.0,0.0,0.00,0.0,330
3,Coffee,Brewed Coffee,Venti,5,0.1,0.0,0.0,0,10,0,0,0,1.0,0.0,0.0,0.02,0.0,410
4,Classic Espresso Drinks,Caffè Latte,Short Nonfat Milk,70,0.1,0.1,0.0,5,75,10,0,9,6.0,0.1,0.0,0.20,0.0,75

In [195]:
menu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242 entries, 0 to 241
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Beverage_category         242 non-null    object
 1   Beverage                  242 non-null    object
 2   Beverage_prep             242 non-null    object
 3   Calories                  242 non-null    int64
 4   Total Fat (g)             242 non-null    float64
 5   Trans Fat (g)             242 non-null    float64
 6   Saturated Fat (g)         242 non-null    float64
 7   Sodium (mg)               242 non-null    int64
 8   Total Carbohydrates (g)   242 non-null    int64
 9   Cholesterol (mg)          242 non-null    int64
 10  Dietary Fibre (g)         242 non-null    int64
 11  Sugars (g)                242 non-null    int64
 12  Protein (g)               242 non-null    float64
 13  Vitamin A (% DV)          242 non-null    float64
 14  Vitamin C (% DV)          242 non-null    float64
 15  Calcium (% DV)            242 non-null    float64
 16  Iron (% DV)               242 non-null    float64
 17  Caffeine (mg)             241 non-null    object
dtypes: float64(8), int64(6), object(4)
memory usage: 34.2+ KB

In [196]:
menu = menu.replace(['-', 'varies', 'Varies'], np.nan)

In [197]:
menu = menu.dropna()

In [198]:
menu[['Caffeine (mg)']] = \
menu[['Caffeine (mg)']].astype(float)

In [199]:
menu.describe()

,Calories,Total Fat (g),Trans Fat (g),Saturated Fat (g),Sodium (mg),Total Carbohydrates (g),Cholesterol (mg),Dietary Fibre (g),Sugars (g),Protein (g),Vitamin A (% DV),Vitamin C (% DV),Calcium (% DV),Iron (% DV),Caffeine (mg)
count,219.000000,219.000000,219.000000,219.000000,219.000000,219.000000,219.000000,219.000000,219.000000,219.000000,219.000000,219.000000,219.000000,219.000000,219.000000
mean,201.584475,3.074886,1.394977,0.039269,6.643836,137.374429,37.296804,0.844749,34.077626,7.294521,0.102922,0.037580,0.216758,0.080502,89.520548
std,102.353614,3.000590,1.685154,0.073018,8.832857,80.605714,20.926664,1.441077,19.971043,4.790546,0.082008,0.150388,0.145252,0.107734,64.726831
min,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,125.000000,0.200000,0.100000,0.000000,0.000000,80.000000,21.000000,0.000000,19.000000,4.000000,0.040000,0.000000,0.100000,0.000000,50.000000
50%,190.000000,2.500000,0.500000,0.000000,5.000000,130.000000,36.000000,0.000000,33.000000,6.000000,0.080000,0.000000,0.200000,0.040000,75.000000
75%,270.000000,5.000000,2.000000,0.100000,10.000000,180.000000,53.000000,1.000000,44.000000,10.000000,0.150000,0.000000,0.300000,0.100000,142.500000
max,510.000000,15.000000,9.000000,0.300000,40.000000,340.000000,90.000000,8.000000,84.000000,20.000000,0.500000,1.000000,0.600000,0.500000,410.000000